/*Choose your beast screen*/
.text-choose-your-beast {
  text-align: center;
  margin: 100px;
  display: block;
  font-size: 60px;
}

.beast-name {
  text-align: center;
  margin: 100px;
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.text {
  text-align: center;
  margin: 100px;
  display: block;
  font-size: 60px;
}

.beasts {
  display: flex;
  align-content: center;
}

.beast2 {
  margin-top: -20px;
}

.beast3 {
  margin-top: -30px;
}

.movedown {
  transition-duration: 1s;
}

.moveup {
  transform: translate(0px, 20%);
  transition-duration: 1s;
}

/*Game screen 1*/
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.background-image-level1 {
  width: 48%;
  height: 48%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
}

.background-image-level2 {
  width: 48%;
  height: 48%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
}

.background-image-level3 {
  width: 48%;
  height: 48%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
}

.background-image-level4 {
  width: 48%;
  height: 48%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
}

#startButton {
  background-color: red;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin-top: 20px;
}

#timer {
  font-size: 30px;
}

#startTimer {
    font-size: 50px;
    margin-top: 10%;
    margin-left: 10%;
  }

#player {
  width: 20% !important;
  height: 20% !important;
  position: absolute !important;
}

.obstacle-image {
  width: 10% !important;
  height: 20% !important;
  position: absolute !important;
}

#obstacle1 {
  left: 600px;
  top: 500px;
}

#obstacle2 {
  left: 900px;
  top: 590px;
}

#obstacle3 {
  left: 1100px;
  top: 500px;
}

#obstacle4 {
  left: 1300px;
  top: 400px;
}

#obstacle5 {
  left: 1200px;
  top: 200px;
}

#obstacle6 {
  left: 830px;
  top: 200px;
}

#obstacle7 {
  left: 770px;
  top: -25px;
}

#obstacle8 {
  left: 570px;
  top: -25px;
}

#obstacle9 {
  left: 570px;
  top: 120px;
}

.congratulations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: 40px;
}

.image-congratulations {
  margin-top: 20%;
}

.text,
.text-congratulations {
  margin-top: 20%;
}

.player-image-congratulation {
  width: 80%;
  height: 100%;
}

.start-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 95vh;
  font-size: 40px;
}

.beast-image-main-container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: gray;
  width: 50%;
  border-width: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.beast-images-container-1 {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
}

.beast-images-container-2 {
  display: flex;
  flex-direction: row;
  margin-left: 23%;
}

#startGameButton {
  background-color: red;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin-top: 20px;
}

#beast-icon {
    border: solid;
    border-color: black;
  }
  
  .introduce-beast1,
  .introduce-beast2,
  .introduce-beast3,
  .introduce-beast4 {
    border: solid;
    border-color: red;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 5px !important; /* Reduce the margin between containers */
    padding: 5px !important; /* Add padding to the containers for spacing */
    height: 500px; /* Fixed height for the containers */
  }
  
  .choose-your-beast-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .beast-description {
    width: 300px;
  }
  
  .introduce-beast1:hover,
  .introduce-beast2:hover,
  .introduce-beast3:hover,
  .introduce-beast4:hover {
    background-color: gray;
    cursor: pointer;
  }
